<h1 mat-dialog-title>Type stats:</h1>
<div mat-dialog-content *ngIf="isDataLoaded">

    <div>Hallo hier solls erstmal hin: {{damageRelation.doubleDamageFrom}}</div>
    <!--da kommt die Graphik rein-->

    <!--Apex Chart Start:-->
    <div style="text-align:center">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title"></apx-chart>
    </div>
    <!--Apex Chart Ende:-->


    <!--Apex Chart Start:-->
    <div style="text-align:center">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.titleTwo"></apx-chart>
    </div>
    <!--Apex Chart Ende:-->

</div>



<div mat-dialog-actions><button mat-button mat-dialog-close>close</button></div>