.mat-toolbar.mat-primary {
    background: #990505;
    color: rgb(247, 241, 241);
}

.icon {
    color: green;
    width: 20px;
    height: 20px;
    background: transparent;
    align-self: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.example-card {
    width: 25%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    align-items: center;
    text-align: center;

}

.body {
    background-color: dimgray;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
}

.img {

    width: 57%;
    height: 66%;
    margin: auto;
    align-self: center;
    align-items: center;
    text-align: center;

}

.cardHeader {

    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;

}

.cardTitel {
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}