<body class="body">

  <mat-toolbar color="primary">

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span> Pokedex</span>
    <mat-menu #menu="matMenu">
      <button (click)="getGeneration(1)" mat-menu-item>Generation 1</button>
      <button (click)="getGeneration(2)" mat-menu-item>Generation 2</button>
      <button (click)="getGeneration(3)" mat-menu-item>Generation 3</button>
      <button (click)="getGeneration(4)" mat-menu-item>Generation 4</button>
      <button (click)="getGeneration(5)" mat-menu-item>Generation 5</button>
      <button (click)="getGeneration(6)" mat-menu-item>Generation 6</button>
      <button (click)="getGeneration(7)" mat-menu-item>Generation 7</button>
      <button (click)="getGeneration(8)" mat-menu-item>Generation 8</button>
    </mat-menu>
  </mat-toolbar>


  <div class="cardContainer">

    <mat-card class="example-card" *ngFor="let pokemon of pokemon">

      <mat-card-header class="cardHeader">
        <mat-card-title class="cardTitel">{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img class="img" mat-card-image src="{{pokemon.image}}" alt="Photo of a {{pokemon.name}}">
      <br>
      <mat-card-content>
        <p>
          Type: {{pokemon.pokeTyp}}
        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>


    </mat-card>

  </div>
</body>