<p>

  <mat-toolbar color="primary">

    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>



    <span> Pokedex</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Generation 1</button>
      <button mat-menu-item>Generation 2</button>
      <button mat-menu-item>Generation 3</button>
      <button mat-menu-item>Generation 4</button>
      <button mat-menu-item>Generation 5</button>
      <button mat-menu-item>Generation 6</button>
      <button mat-menu-item>Generation 7</button>
      <button mat-menu-item>Generation 8</button>
    </mat-menu>
  </mat-toolbar>
</p>