<p>

  <mat-toolbar color="primary">

    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <span> Pokedex</span>
    <mat-menu #menu="matMenu">
      <button (click)="getGeneration(1)" mat-menu-item>Generation 1</button>
      <button (click)="getGeneration(2)" mat-menu-item>Generation 2</button>
      <button (click)="getGeneration(3)" mat-menu-item>Generation 3</button>
      <button (click)="getGeneration(4)" mat-menu-item>Generation 4</button>
      <button (click)="getGeneration(5)" mat-menu-item>Generation 5</button>
      <button (click)="getGeneration(6)" mat-menu-item>Generation 6</button>
      <button (click)="getGeneration(7)" mat-menu-item>Generation 7</button>
      <button (click)="getGeneration(8)" mat-menu-item>Generation 8</button>
    </mat-menu>
  </mat-toolbar>
</p>
<div fxLayout="row wrap" fxLayoutGap="16px">
  <div fxFlex="20%" *ngFor="let pokemon of pokemon">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
        alt="Photo of {{pokemon.name}}">
      <!--src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{getGeneration(id)}}.png"
      getGeneration(id) falsch 
      getGeneration falsch, so wird nur die Generation und nicht das Pokemon geholt-->
    </mat-card>
  </div>
</div>